/.vs/
.vsconfig
.DS_Store
/Library/
/[Tt]emp/
/Logs/
/obj/
*.apk
*.csproj
*.sln

#project
/editor_config/
/Assets/Art/LuaRes/
/Assets/Editor/Build/
/Assets/XLua/Gen/
/Assets/StreamingAssets/
BundleToAssetsMap*
*test*
